<div class="index">
  <div class="row medium-unstack">
    <div class="small-12 medium-4 columns indexLink">
      <%= link_to 'All Pictures', root_path %>
    </div>
    <div class="small-12 medium-4 columns indexLink">
      <%= link_to 'Add New Picture', new_mural_path %>
    </div>
  </div>
  <div class="row medium-unstack">
      <div id="app">

      </div>
  </div>
</div>
